* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #a1a1a1;
  background: -webkit-linear-gradient(to right, #a1a1a1, #cabebe);
  background: linear-gradient(to right, #a1a1a1, #cabebe);
}

.dark-mode {
  background: rgb(27, 27, 27);
}

.pokedex-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 18px;
  margin-left:250px;
}

.pokedex__header {
  background: rgb(220, 57, 57);
  min-height: 200px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  width: 1000px;
  border: solid;
  border-radius:10px;
}

.pokedex__header-title {
  color: yellow;
  margin-top: 40px;
  margin: 25px;
}

.pokedex__header-search {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.pokedex__header-search input {
  height: 30px;
  width: 100%;
  border-radius: 5px;
  border: solid;
  outline: none;
  padding: 5px;
  max-width: 150px;
}

.pokedex__header-search button {
  margin: 30px;
  height: 30px;
  border-radius: 5px;
  border: solid;
  outline: none;
  padding: 5px;
  max-width: 150px;
  background-color: white;
  cursor:pointer;
}

button {
  cursor:pointer;
}

.pokedex__pokemon-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-count: 2;
  column-gap: 20px;
  width: 1000px;
  margin-bottom: 20px;
}

.pokemon {
  background-color: #eee;
  border-radius: 20px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 10px;
  padding: 20px;
  text-align: center;
  width: 200px;
}

.pokemon .info {
  margin-top: 20px;
}

.pokemon .number {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 0.8em;
  padding: 5px 10px;
}

.pokemon .name {
  margin: 15px 0 7px;
  letter-spacing: 1px;
}

.pokedex__pokebox {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 10px;
  padding: 20px;
  text-align: center;
  width: 350px;
  position: fixed;
  margin-right:250px;
  top: 10px;
  right: 10px;
}

.pokedex__pokebox h2 {
  color: rgb(192, 31, 31);
  margin-bottom: 10px;
}

.pokedex__pokemon-content button{
  margin: 10px;
  height: 30px;
  border-radius: 5px;
  border: solid;
  outline: none;
  padding: 5px;
  max-width: 130px;
  background-color: white;
}

.pokedex__pokebox-content button{
  margin: 5px;
  height: 30px;
  border-radius: 5px;
  border: solid;
  outline: none;
  padding: 5px;
  max-width: 130px;
  background-color: white;
  margin-bottom: 25px;
}